<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="ER4Aerea.Properties.Settings.XE" connectionString="Provider=MSDAORA.1;Data Source=xe;Persist Security Info=True;Password=PI;User ID=PI" providerName="System.Data.OleDb" />
    <add name="ER4Aerea.Properties.Settings.ConnectionString" connectionString="Provider=MSDAORA;Data Source=xe;Persist Security Info=True;Password=pi;User ID=pi" providerName="System.Data.OleDb" />
    <add name="Entities" connectionString="metadata=res://*/CAD_AVIAO.csdl|res://*/CAD_AVIAO.ssdl|res://*/CAD_AVIAO.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=XE;persist security info=True;user id=PI&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=XE;password=pi;persist security info=True;user id=PI&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities2" connectionString="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=LOCAL;password=pi;persist security info=True;user id=PI&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>